{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}
    <form method = "post" action = "{{ url }}" name = "payum_swedbank">
        {% for key,value in fields %}
            <input type = "hidden" name = "{{ key }}" value = "{{ value }}" />
        {% endfor %}
        <script>
          window.onload = function () {
            document.forms['payum_swedbank'].submit()
          }
        </script>
        <input type = "submit" value = "Start payment" class = "swedbank banklink" />
    </form>
{% endblock %}
